## 1.Python Practice

In [4]:
print('Karan Bhosale')

KaranBhosale

In [9]:
name=input('what is your name ')

what is your name Karan

In [12]:
print('Hello '+ name )

Hello Karan

## Data Types

In [ ]:
# Int, float , bool , set , str, list, tuple, dict

In [ ]:
## Classes -> custom types
#anytype of name

In [ ]:
# Specailized Data Types
#Modules

In [13]:
#None

##Fundaments Data Types

In [7]:
#Integers
# Type is used to define data types of function.

# float number take more space to save rather than other number.

print(type(2 + 4))
print(type(2 / 4))
print(type(2 * 4))
print(type(2 - 4))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

In [13]:
print((2 ** 2))
print((2 ** 3))
print((2 // 2))
print((5 % 4))

4
8
1
1

## math Function

In [17]:
# Round-up the numbers
print(round(3.9))
print(round(3.1))

4
3

In [18]:
# ABS no negative numbers
print(abs(-29))

29

## operator precedence

In [22]:
# Squence of precedence
# (), ** , * / , + -

print((20-3)+ (2**2))

21

In [25]:
print(bin(5))
print(int('0b101', 2))

0b101
5

## Variables

In [ ]:
# Case senstive -> Start with lower case or underscore
# letter , number , underscore
# Don't overwrite keywords.
#print(print) XXXXXX

In [32]:
iq =190
print(iq)

190

## Constant

In [ ]:
## pi=3.14

In [33]:
iq=150
user_age=iq/4

#Statement->  user_age=iq/4
# experssion -> iq/4

In [35]:
print(user_age)

37.5

## Agumented assignment operator

In [60]:
some_value =5

In [61]:
some_value +=2 # This (+)is know as Agumented assignment operator

print(some_value)

7

In [1]:
first_name='karan'
last_name='bhosale'
full_name=first_name+last_name

In [2]:
print(full_name)

karanbhosale

In [6]:
print(type(str(100)))

<class 'int'>

## Strings

In [1]:
print(type('Hi hello there!'))

<class 'str'>

In [6]:
username='supercoder'
password='supersecret'

print(username +' '+ password)

supercoder supersecret

## formatted strings (f-string)

In [26]:
name='Johnny'
age=55
Address =3132 
#EX-1
print(f'Hi {name}.You are {age} years old. and you live at {Address} st')

#{f}-> used for formatted strings. whenever we need write mix Data Types statements.

Hi Johnny.You are 55 years old. and you live at 3132 st

In [28]:
name='Johnny'
age=55
Address =3132 

#EX-2
print('Hi {}.You are {} years old. and you live at {} st'.format('Johnny','55','3132'))

Hi Johnny.You are 55 years old. and you live at 3132 st

In [40]:
selfish='01234567'
#[start: stop : stepover]

print(selfish[::-1])

76543210

In [41]:
print(selfish[::1])

01234567

In [43]:
print(selfish[0:5:1])

01234

In [44]:
print(len('heloojienfef'))

12

In [56]:
quote='to be no to be'
print(quote.upper())

TO BE NO TO BE

In [58]:
print(quote.capitalize())

To be no to be

In [59]:
print(quote.find('be'))

3

In [60]:
print(quote.replace('be','me'))

to me no to me

print(quote = quote.replace('be', '', 01))

In [ ]:
# Strings are immitable we cannit change them .

## Booleans

In [66]:
name='Karan'
is_cool=False

In [67]:
is_cool=True

In [69]:
print(bool(0))
print(bool(1))

False
True

## Exercises

In [75]:
birth_year = input(" what is your birth year = ")

 what is your birth year = 2000

In [76]:
age = 2023 - int(birth_year)

In [77]:
print(f'my age is :{age}')

my age is :23

In [79]:
username= input(" what is your username :  ")
password= input(" what is your password :  ")

password1= '*' * len(password)

print(f'{username} , your password {password1} is {len(password)} letter long')

 what is your username :  karan
 what is your password :  bhosale
karan , your password ******* is 7 letter long

## List

In [80]:
basket=[1,2,3,4,5]

#Adding in list append take only one argument.
new_list=basket.append(100)
new_list=basket
print(new_list)

#Inserting in list through index.
new_list=basket.insert(4, 100)
new_list=basket
print(new_list)

#Extend in list
basket.extend([100,200,300])
print(basket)

#Removing in list
basket.pop()
print(basket)

# Clear in list
basket.clear()
print(basket)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 100, 5, 100]
[1, 2, 3, 4, 100, 5, 100, 100, 200, 300]
[1, 2, 3, 4, 100, 5, 100, 100, 200]
[]

In [81]:
basket=['a','b','c','d','e','d']

print(basket.index('d'))

print('d' in basket)

print(basket.count('d'))

3
True
2

## Sorting

In [82]:
#Sorting in List

basket=['a','x','b','c','d','e','d']
print(sorted(basket))

# Resereved sorting

basket.sort()
basket.reverse()
print(basket)
print(sorted(basket))

['a', 'b', 'c', 'd', 'd', 'e', 'x']
['x', 'e', 'd', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'd', 'e', 'x']